<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>take notes</title>
    <link rel="stylesheet" href="../src/output.css ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="../images/images.png">
    <!-- <script src="../index.js" type="module" defer></script> -->
</head>

<body class="flex flex-row justify-center items-cnter">
    <form id="form" action="" class="w-[75%]">
        <div class="flex flex-col items-center justify-center gap-4  ">

            <!-- <div class="flex flex-col items-center"> -->
            <div class="flex flex-row  w-95/100 text-blue-700 ">
                <input type="text" placeholder="Enter Title" name="title" value="add title to note"
                    class="text-white text-shadow-black text-shadow-2xs placeholder:shadow-none  placeholder:text-white/80 mt-2 min-h-25  text-left w-95/100  font-bold text-[2.5rem] leading-[1.2] rounded-2xl p-4 bg-[#009578]/80 " />

                <button type="" id="add-note"
                    class=" mt-2 text-center  max-w-10/100 text-white font-bold text-[1rem] leading-[1.2] rounded-2xl p-4 bg-blue-800">
                    Add Notes
                </button>
            </div>

            <textarea name="description"
                class="text-[1.5rem]  w-95/100 rounded-[20px] p-6 min-h-200 border placeholder:text-4xl placeholder:text-slate-400 bg-blue-300/60" "
                        placeholder=" Type your note here...">make your day better</textarea>

        </div>
    </form>
    <script src="../dist/getNewForm.js" type="module" defer></script>

</body>

</html>